#root {
  max-width: 1580px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #e9e6e4aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.section {
  margin-top: 1rem;
}

.card {
  text-align: left;
  width: 100%;
  margin: 1rem auto; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(8, 8, 8, 0.1);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.card-header {
  font-size: 1rem;
  font-weight: bold;
}

.icon-big {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-category {
  font-size: 1rem;
  color: #0e0b0b;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}