body {
  margin: 0;
  background: linear-gradient(180deg, rgb(15, 5, 37), rgb(3, 3, 5));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 120vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #413b3b;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(221, 215, 215);
}
button:hover {
  border-color: #d9d9e6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid rgb(34, 30, 30);
  gap: 1px;
  background-color: rgb(31, 28, 28);
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: rgb(230, 221, 221);
  padding: 8px;
}

li:hover {
  background: #c0c1ce;
}

a {
  font-weight: 800;
  text-decoration: none;
}